
   
   
   <div >
    <nav class="nav">
        <div class="nav-pic">
            <div id="accadd"></div><br>
        <a href="/account/add">Account Add</a>
        </div>
  
        <div class="nav-pic">
            <div id="trans"></div><br>
            <a href="/transaction/new">Transaction</a>
        </div>
  
        <div class="nav-pic">
            <div id="acind"></div><br>
            <a href="/account/index">ACC.index</a>
        </div>
        
        <%- locals.currentUser ? `<div id="user"><p style="text-align: right;"> ${locals.currentUser.firstName} ${locals.currentUser.lastName} </p> </div> <div class ="nav-pic"><div id="sino"></div><br><a href="/auth/signout">Sign out</a></div>` : `<div class="nav-pic"><div id="siin"></div><br><a href="/auth/signin">Sign in</a></div><div class="nav-pic"><div id="siup"></div><br><a href="/auth/signup">Sign up</a></div>` %>
        
     
        
    </nav>


    
  </div>
   
   <div id="accdet-main">
    <div id="accdet-head"><h2>Account Name: <%= account.accountName %></h2></div>
        
        <div id="accdet-det">
        <h3>Account Number: <%= account.accountNumber %></h3>
        <h3>Account Currency: <%= account.currency %></h3>
        <h3>Balance: <%= account.balance%></h3>
        </div>

        <h2>Transaction History</h2>
        <table>
            <tr>
                <th id="th1">Transaction number</th>
                <th>Transaction description</th>
            </tr>
        <% account.transactions.forEach((e, k)=>{ %>
            <tr>
                <td> <%= k %> </td>
                <td> <%= e %></td>
            </tr>
        <% }) %>
        </table>
    </div>



