
    <div>
        <h2><%= account.accountName %></h2>
        <h3><%= account.accountNumber %></h3>
        <h3><%= account.currency %></h3>
        <h3><%= account.balance%></h3>
        <table>
            <tr>
                <th>Transaction number</th>
                <th>Transaction description</th>
            </tr>
        <% account.transactions.forEach((e, k)=>{ %>
            <tr>
                <td> <%= k %> </td>
                <td> <%= e %></td>
            </tr>
        <% }) %>
        </table>
    </div>



<h2>Transaction History</h2>