


<div id="main-index">

    <div id="main-header"><h1>Account Index</h1></div>


<% account.forEach(function(account) {%>
    <div class="accf">
        <h2>Account Name: <%= account.accountName %></h2><br>
        <h3>Account Number: <%= account.accountNumber %></h3><br>
        <h3>Currency: <%= account.currency %></h3><br>
        <h3>Balance: <%= account.balance%></h3>
        <div>
        <a href="/account/detail?id=<%= account._id %>">Show Details</a><br>
        <a href="/account/delete?id=<%= account._id %>">delete</a>
        </div>
    </div>


<%}); %>

</div>