
<div >
    <nav class="nav">
        <div class="nav-pic">
            <div id="accadd"></div><br>
        <a href="/account/add">Account Add</a>
        </div>

        <div class="nav-pic">
            <div id="siin"></div><br>
            <a href="/auth/signin">Sign in</a>
        </div>

        <div class="nav-pic">
            <div id="siup"></div><br>
            <a href="/auth/signup">Sign up</a>
        </div>

        <div class="nav-pic">
            <div id="trans"></div><br>
            <a href="/transaction/new">transaction</a>
        </div>

        <div class="nav-pic">
            <div id="acind"></div><br>
            <a href="/account/index">ACC.index</a>
        </div>
        
        
    </nav>
</div>


<div id="main-index">

    <div id="main-header"><h1>Account Index</h1></div>


<% account.forEach(function(account) {%>
    <div class="accf">
        <h2>Account Name: <%= account.accountName %></h2><br>
        <h3>Account Number: <%= account.accountNumber %></h3><br>
        <h3>Currency: <%= account.currency %></h3><br>
        <h3>Balance: <%= account.balance%></h3>
        <div>
        <a href="/account/detail?id=<%= account._id %>">Show Details</a><br>
        <a href="/account/delete?id=<%= account._id %>">delete</a>
        </div>
    </div>


<%}); %>

</div>