<h1>select account</h1>

<% account.forEach((e,k)=>{ %>
    <h1>
        <%= k + 1 %>
    </h1>
    <h1> account name: <%= e.accountName %>
    </h1>
    <h1> account number <%= e.accountNumber %>
    </h1>
    <h1> balance: <%= e.currency %>
            <%= e.balance %>
    </h1>

    <a href="/transaction/add?senderAccount=<%= e.accountNumber %>">send money</a>
    <% }) %>