<h1>New transaction</h1>

<% account.forEach((e,k)=>{ %>
    <h1><%= k + 1 %></h1>
    <%= e.accountName %>
    <%= e.accountNumber %>
    <%= e.currency %>
    <%= e.balance %>
    <%= e.transactions %>
    <%= e.user %>
    <a href="/transaction/new"></a>
<% }) %>